services:
  apigateway:
    build:
      context: ../../
      dockerfile: ./src/apps/apigateway/WebApi/Dockerfile

  identities-service:
    build:
      context: ../../
      dockerfile: ./src/apps/identities/WebApi/Dockerfile

  products-service:
    build:
      context: ../../
      dockerfile: ./src/apps/products/WebApi/Dockerfile

  orders-service:
    build:
      context: ../../
      dockerfile: ./src/apps/orders/WebApi/Dockerfile

  notifications-service:
    build:
      context: ../../
      dockerfile: ./src/apps/notifications/WebApi/Dockerfile
